#new-item.reveal-modal{:reveal_id => ""}
  %h4 add new swidjit
  .button{:value=>"freepile"} freepile
  .button{:value=>"topic"} topic
  .button{:value=>"question"} question
  .button{:value=>"event"} event
  .button{:value=>"product"} product
  .button{:value=>"website"} website

#deposit
:javascript
  $(document).on('ready page:load', function(){

    $('#new').on("click", function() {
      $('#new-item').foundation("reveal","open");
    });

    $('.select-feed').on('change',loadItems);
    $('.select-type').on('change',loadItems);
    $('.select-condition').on('change',loadItems);
    $('.max-cost').on('change',loadItems);

    $('.button').on("click", function() {
      switch ($(this).attr("value")) {
        case 'freepile':
          $("#new-item").html("#{escape_javascript render :partial => 'freepiles/form'}");
          break;
        case 'topic':
          $("#new-item").html("#{escape_javascript render :partial => 'topics/form'}");
          break;
        case 'question':
          $("#new-item").html("#{escape_javascript render :partial => 'questions/form'}");
          break;
        case 'event':
          $("#new-item").html("#{escape_javascript render :partial => 'events/form'}");
          break;
        case 'product':
          $("#new-item").html("#{escape_javascript render :partial => 'products/form'}");
          break;
        case 'website':
          $("#new-item").html("#{escape_javascript render :partial => 'websites/form'}");
          break;
      };
    });
  });
  function loadItems() {
    var data = {
      type: $('.select-type').val(),
      filter: $('.select-feed').val(),
      max_cost: $('.max-cost').val(),
      condition: $('.select-condition').val(),
      topic: $('.select-tag').val()
    };
    $.get("#{filter_items_path}", data);
  }
