!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title Swidjit

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=places"

    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag

  %body
    =render :partial => 'layouts/head'
    %p.notice= notice
    %p.alert= alert
    .row
      .large-3.columns
        #new
          %button new item
        =select_tag :type, options_for_select([ "all","products", "events", "questions","freepiles","topics", "websites" ], "all"), :class => 'select-type'

        =select_tag :filter, options_for_select([ "all","popular", "followed", "upcoming","nearby", "interests" ], "all"), :class => 'select-feed'
        =number_field_tag :max_cost, nil, :min => 5, :class => 'max-cost'
        =select_tag :condition, options_for_select([ "any", "new","excellent", "good", "fair","poor","broken" ], "any"), :class => 'select-condition'
        =text_field_tag :tag, @tag, :class => 'select-tag'
        -Item.where(:type=>"Product").topic_counts.each do |t|
          =link_to t.name, items_path(:topic=>t.name,:type=>"products")

        -if user_signed_in?
          =render @notifications
      .large-9.columns
        #content
          = yield
    =render :partial => 'layouts/footer'
